<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <welcome-file-list>
     <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<resource-env-ref>
    <resource-env-ref-name>jdbc/opc</resource-env-ref-name>
    <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
</resource-env-ref>

  <servlet>
    <description></description>
    <display-name>LoginVal</display-name>
    <servlet-name>LoginVal</servlet-name>
    <servlet-class>com.opc.login.LoginVal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginVal</servlet-name>
    <url-pattern>/LoginVal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrchResults</display-name>
    <servlet-name>SrchResults</servlet-name>
    <servlet-class>com.opc.search.SrchResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrchResults</servlet-name>
    <url-pattern>/SrchResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stats</display-name>
    <servlet-name>stats</servlet-name>
    <servlet-class>com.opc.statistics.stats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stats</servlet-name>
    <url-pattern>/stats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatsUpdate</display-name>
    <servlet-name>StatsUpdate</servlet-name>
    <servlet-class>com.opc.statistics.StatsUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatsUpdate</servlet-name>
    <url-pattern>/StatsUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleView</display-name>
    <servlet-name>ScheduleView</servlet-name>
    <servlet-class>com.opc.schedule.ScheduleView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleView</servlet-name>
    <url-pattern>/ScheduleView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleDel</display-name>
    <servlet-name>ScheduleDel</servlet-name>
    <servlet-class>com.opc.schedule.ScheduleDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleDel</servlet-name>
    <url-pattern>/ScheduleDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleAdd</display-name>
    <servlet-name>ScheduleAdd</servlet-name>
    <servlet-class>com.opc.schedule.ScheduleAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleAdd</servlet-name>
    <url-pattern>/ScheduleAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyView</display-name>
    <servlet-name>CompanyView</servlet-name>
    <servlet-class>com.opc.company.CompanyView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyView</servlet-name>
    <url-pattern>/CompanyView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyAdd</display-name>
    <servlet-name>CompanyAdd</servlet-name>
    <servlet-class>com.opc.company.CompanyAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyAdd</servlet-name>
    <url-pattern>/CompanyAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyDel</display-name>
    <servlet-name>CompanyDel</servlet-name>
    <servlet-class>com.opc.company.CompanyDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyDel</servlet-name>
    <url-pattern>/CompanyDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileAddNew</display-name>
    <servlet-name>ProfileAddNew</servlet-name>
    <servlet-class>com.opc.profile.ProfileAddNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileAddNew</servlet-name>
    <url-pattern>/ProfileAddNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileUpdate</display-name>
    <servlet-name>ProfileUpdate</servlet-name>
    <servlet-class>com.opc.profile.ProfileUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileUpdate</servlet-name>
    <url-pattern>/ProfileUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatsChart</display-name>
    <servlet-name>StatsChart</servlet-name>
    <servlet-class>com.opc.statistics.StatsChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatsChart</servlet-name>
    <url-pattern>/StatsChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.opc.profile.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBPopulate</display-name>
    <servlet-name>DBPopulate</servlet-name>
    <servlet-class>com.opc.connection.DBPopulate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBPopulate</servlet-name>
    <url-pattern>/DBPopulate</url-pattern>
  </servlet-mapping>
</web-app>